body {
  background-image: url(../image/Rolling_Waves_Mod-ultra-HD.jpg);
  background-size: cover;
  background-repeat:no-repeat;
}

header {
}

img {
  border-radius: 8px;
}

nav {
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    float: right;
    height: 40px;
    margin-right: 5em;
    margin-top: 3em;
}

a {
  font-size: 25px;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
}

aside {
  border-color: white;
    border-radius: 10px;
    border-style: solid;
    float: left;
    margin-top: 5em;
    padding: 15px;
    width: 15%;
}

main {
  background-color: transparent;
}

section {
  border-color: white;
  border-bottom-style: solid;
  /*display: inline-block;*/
  float: right;
  width: 60em;
  padding: 15px;
}

h1 {
  text-align: center;
}




legend {
  font-style: italic;
}

label {
    color: white;
    display: inline-block;
    margin: 15px;
    width: 10em;
}

input {
    display: block;
}
textarea {
   height: 199px;
   width: 374px;
}

#infos {
  border-radius: 10px;
  background-color:transparent;
  width: 25em;
}

#comments {
  border-radius: 10px;
  background-color:transparent;
  width: 25em;
}

fieldset {
  display: inline-block;
  vertical-align: top;
}

#id {
  border: solid;
}

footer {
    clear: both;
    padding-top: 4em;
}

footer img {
  margin-bottom: 2em;
  margin-left: 3em;
  border-radius: 10%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

footer img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
