body{
  background-color: grey;
}

header{

}

img{
  border-radius: 8px;

}
nav {
    float: right;
    height: 40px;
    width: 50%;
}

aside {
    background-color: tranparent;
    width: 15%;
    float: left;
}

main{
  background-color: grey;
}

section{
  background-color:tranparent;
  float: right;
  width: 65em;
  padding: 15px;
}

h1{
  text-align: center;
}
